body {
  padding-top: 66px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05), 
              0 4px 8px 0 rgba(0,0,0,0.05);
}

.title-bar h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background: #fff;
  margin: 10px auto;
}
